/* App.css */
/* .app-container {
  display: flex;
} */

.main-layout {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:#fff1f4;
  font-family: 'Irish Grover',cursive;
 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}



